.dialog-wrap {
    min-width: 300px;
    padding: 1em;
}

.text-wrap {
    width: 100%;
}

.social-ref {
    width: 48%;
    margin-right: 1%;
}

.text-area {
    min-height: 200px;
    width: 100%;
    line-height: 1.6;
}

.story-title {
    font-size: 2em;
    width: 100%;
}