.dialog-wrap {
    min-width: 300px;
    padding: 1em;
}

.text-wrap {
    width: 100%;
}

.mat-hint {
    font-size: .7rem;
}

.half-width {
    width: 45%;
    margin-right: 5%;
}

.top-margin {
    margin-top: 1.5rem;
}

.third-width {
    width: 30%;
    margin-right: 3%;
}

.text-area {
    min-height: 200px;
    width: 100%;
    line-height: 1.6;
}

.story-title {
    font-size: 2rem;
}