<div class="wrap">
    <div class="flex">    
        <h1>Особисті історії</h1>
        <button mat-button color="primary" (click)="addStory()" class="add-button">+</button>
    </div>

    <ng-container [ngSwitch]="displayMode">
        <ng-container *ngSwitchCase="'storyCarousel'" [ngTemplateOutlet]="storyCarousel"></ng-container>
        <ng-container *ngSwitchCase="'storyTitle'" [ngTemplateOutlet]="storyTitle"></ng-container>
        <ng-container *ngSwitchCase="'storySingle'" [ngTemplateOutlet]="storySingle"></ng-container>
        <ng-container *ngSwitchDefault [ngTemplateOutlet]="storyList"></ng-container>
    </ng-container>

    <div>Show as: {{displayMode}}</div>

    <ng-template #storyList>
        <div class="stories-flex" >
            <div *ngFor="let story of stories | async" >
                <div class="story-container">
                    <div class="flex">
                        <div>
                            <h2>{{story.title}}</h2>
                            <p class="story-social-refs"><span *ngIf="story.facebookProfile">Facebook: <a [href]="'https://www.facebook.com/' + story.facebookProfile">{{ story.facebookProfile }}</a> </span> <span *ngIf="story.instagramProfile"> Instagram: <a [href]="'https://www.instagram.com/' + story.instagramProfile">{{ story.instagramProfile }}</a></span></p>
                        </div>
                        <button mat-button color="primary" (click)="editStory(story)">Редагувати</button>
                    </div>
                    <p>{{story.text}}</p>
                    <div class="story-image-wrap"><img class="story-image" [src]="story.image" /></div>                    
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #storyTitle>
        <app-story *ngFor="let story of stories | async" [story]="story" [displayMode]="'storyTitle'">
        </app-story>
    </ng-template>

    <ng-template #storySingle>
      <app-story [story]="getStoryFromResult(0)" [displayMode]="'storySingle'">
      </app-story>
    </ng-template>

    <ng-template #storyCarousel>
      <app-story *ngFor="let story of stories | async" [story]="story">
      </app-story>
    </ng-template>

    <p>(Розділ у розробці)</p>

    <div class="spacer"></div>
</div>