.wrap {
    max-width: 100%;
}

.spacer {
    height: 40px;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.center-aligned {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

.center-aligned h1 {
    margin: 0;
}

.add-button {
    margin-left: auto;
}

.stories-flex {
    margin-top: 1rem;
}

.dev-section {
    padding: 2rem;
    background-color: crimson;
    max-width: 760px;
    margin: 4rem auto 0;
}

.display-mode-toggle {
    margin-top: 1rem;
}