<h1>Історії</h1>
<div class="story-container">
    <h2>Марія</h2>
    <p>Художниця Марія Мосна народилася у Хабаровську. В 2007 році переїхала до Харкова, вийшла заміж за українця, Олеся Штефчука (Олесь Штефчук). Вивчила мову, волонтерить, виховує сина Марка, який мріє про книгу Сергія Жадана. Але громадянкою України офіційно так іще і не стала. Два роки тому подала документи до управління ДМС, щоб отримати тимчасове свідоцтво громадянки, щоб наступним кроком звернутися до консульства рф і відмовитися від громадянства рф. Але через незрозумілі причини справа затягнулася.
        "Рік я чекала, а потім запідозрила недобре, бо мене не запрошували на співбесіду до СБУ, хоча мали. В управлінні Міграційної служби мені повідомили, що мою справу надіслали до Києва — "там і шукайте". А у неформальній розмові мені сказали, що президент уже два роки нічого не підписує", — каже Марія.
        Днями вона отримала повідомлення від управління ДМС, що рік тому її справу було направлено до Офісу президента. Але раніше вона звернулася до комісії з питань надання громадянства при ОП і їй відповіли, що справа до них не надходила. За процедурою вона ще формально мала пройти консульство рф, яке за воєнного стану просто не працює, що зрозуміло.
        Зневірившись, Марія просто спалила свій російський паспорт. І зафіксувала це на відео, воно є нижче.
        </p>
        <p>
        Для того, щоб зрушити справу Марії і тисяч таких, як вона, патріотів України не за місцем народження, а за усвідомленим рішенням, просимо Вас підписати і поширити
        <a href="https://petition.president.gov.ua/petition/157298" target="_blank">Петицію до Президента України №157298</a>.</p>
    <p>(Додати фото)</p>
</div>

<div class="story-container">
    <h2>Анна</h2>
    <p>багато хто знає, що в мене, нажаль, досі російське громадянство. іноді мене від цього факту физично нудить.
        отримати громадянство України - це тей ще квест. попри купу бюрократичних перепон, мені таки вдалось подати документи на громадянство два роки тому. з серпня 2021 вони лежать в офісі президента і чекають на підпис. наскільки я знаю, останні півтора-два роки (а може і довше) не були підписані жодні документи на громадянство.
        я знаю що є сотні людей, як я - які не обирали де народитись, але обрали за яку країну боротись, в яку країну вкладатись, за яку країну віддавати життя. обрали бути українцями.
        
        проблема в тому, що навіть якщо зараз президент підпише мені громадянство - мене чекатиме ще один квест, абсолютно в цих обставинах неможливий - вихід з громадянства рф. з тим як все є зараз, щоб отримати укр. паспорт, я матиму представити бумажку про вихід х громадянства, яку модна отримати тільки в рф. чи треба говорити, до мені аж ніяк не можна їхати в рф?
        
        коротше, є оця <a href="https://petition.president.gov.ua/petition/157298" target="_blank">петиція №157298</a>, яка може принаймні привернути увагу влади до цього питання

        якщо ви мене знаєте особисто – я прошу вас підписати її, а також розповісти мою історію друзям і попросити їх підписати також. для вас це 5хв, для мене це, без перебільшення, питання мого майбутнього в країні яку я люблю і за яку готова битись.
        </p>
    <p>(Додати фото)</p>
</div>

<p>(Розділ у розробці)</p>

<div class="spacer"></div>
