.wrap {
    max-width: 100%;
}

.spacer {
    height: 40px;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.add-button {
    margin-left: auto;
}

.stories-flex {
    /* margin-top: 1rem; */
}

.story-container {
    margin-top: 2em;
}

.story-image-wrap {
    max-width: 100%;
    width: 100%;
    margin-top: 1em;
}

.story-social-refs {
    font-size: 0.8em;
    color: #777;
    font-weight: bold;
}

.story-social-refs a {
    color: #777;
}

.story-image {
    max-width: 100%;
    background: #fefefe;
}