.wrap {
    max-width: 100%;
}

.spacer {
    height: 40px;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.add-button {
    margin-left: auto;
}

.stories-flex {
    margin-top: 1rem;
}
