<mat-toolbar color="primary" class="transparent-toolbar">
  <button mat-button [routerLink]="['']">Головна</button>
  <button mat-button [routerLink]="['/stories']">Особисті історії</button>
  <button mat-button [routerLink]="['/tasks']">Поточні задачі</button>
  <button mat-button [routerLink]="['/main/whats-next']">Наступні кроки</button>
  <button mat-button [routerLink]="['/about']">Наша мета</button>
  <a href="/hi"><button mat-button color="warn">Діяти!</button></a>
  <span class="toolbar-spacer"></span>  
  <a [routerLink]="['/main/dashboard']"><mat-icon color="warn">person</mat-icon></a>
</mat-toolbar>

<div class="attractor">Фактичні Українці</div>

<div class="content-wrap">
  <router-outlet></router-outlet>
</div>

<div class="footer-spacer"></div>

<app-footer></app-footer>