:host {
    display: block;
}

.attractor {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00487f;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -170px;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    text-shadow: #00487f 1px 0 15px;
    background-image: url('../assets/img/Rpsti_Ukrainian_country-side_landscape_of_beautiful_valley_with_50397e29-24db-4668-b31f-107d503befd2.jpg');
}

.attractor .text {
    display: inline-block;
    white-space: normal;
    font-size: 60px;
    line-height: 1;
}

.transparent-toolbar {
    margin-bottom: 20px;
}

::ng-deep .transparent-toolbar .mat-button-wrapper {
    text-shadow: #002b4b 1px 1px 5px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

/* Responsive Toolbar Schematics */
.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.not-handset {
    position: sticky;
    top: 0;
    padding: 0;
    z-index: 1;
    height: 510px;
}

.mat-toolbar.is-handset {
    padding: 0;
}

.mat-toolbar.is-handset .attractor .text {
    margin-top: inherit;
    line-height: 3.4rem;
    font-size: 1.8rem;
    white-space: nowrap;
}

.mat-drawer-side {
    border: none;
}

/* End Responsive Toolbar Schematics */

app-footer {
    display: block;
}
