:host {
    display: block;
}

.attractor {
    width: 100%;
    height: 250px;
    background-color: #00487f;
    background-size: cover;
    background-attachment: fixed;
    /* background-blend-mode: lighten; */
    background-position-y: -100px;
    margin-top: -84px;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    padding-top: 230px;
    background-image: url('../assets/img/Rpsti_Ukrainian_country-side_landscape_of_beautiful_valley_with_50397e29-24db-4668-b31f-107d503befd2.jpg');
}

.transparent-toolbar {
    margin-bottom: 20px;
    background: transparent;
}

.content-wrapper {
    max-width: 1400px;
    margin: auto;
    padding: 6em 4em;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.spacer {
    height: 60px;
}