<mat-toolbar color="primary" class="transparent-toolbar">
  <button mat-button [routerLink]="['']">Головна</button>
  <button mat-button [routerLink]="['/stories']">Особисті історії</button>
  <button mat-button [routerLink]="['/about']">Наша мета</button>
  <button mat-button [routerLink]="['/tasks']" *ngIf="auth.isLoggedIn">Задачі</button>
  <button mat-button [routerLink]="['/main/whats-next']">Наступні кроки</button>
  <button mat-button [routerLink]="['/auth/users']" *ngIf="auth.userIsAdmin">Особи</button>
  <a href="/hi"><button mat-button color="warn">Діяти!</button></a>
  <span class="toolbar-spacer"></span>
  <ng-template lazyComponent> </ng-template>
</mat-toolbar>

<div class="attractor">Фактичні Українці</div>

<div class="content-wrap">
  <router-outlet></router-outlet>
</div>

<div class="footer-spacer"></div>

<app-footer></app-footer>
