<h1>Відродження</h1>

<h2>Гра у відродження це декілька сюжетів</h2>

<h3>Гра складається з</h3>
<ol>
    <li>Авторів</li>
    <li>Текстів</li>
    <li>Дикторів</li>
    <li>Замовників</li>
    <li>Постачальників (техніки, книг)</li>
    <li>Слухачів</li>
    <li>Видавців</li>
</ol>

<h3>Сюжети</h3>
<h4>Мій улюблений голос</h4>
<ol>
    <li>Автор бачить, хто і як озвучить його тексти, вказує на диктора</li>
</ol>

<h4>Озвучення</h4>
<ol>
    <li>Замовник платить за озвучення певного тексту голосом певного диктора</li>
</ol>

<h4>Мікрофон у подарунок</h4>
<ol>
    <li>Друзі скидаються гарному диктору на мік</li>
</ol>

<h4>Спонсорство і логістика</h4>
<ol>
    <li>Для озвучки треба техніку, яка доставляється диктору в дар, платить спонсор або друзі / замовники</li>
</ol>


<h4>Гадання</h4>
<ol>
    <li>Вибрати рік між 1914 та 1990</li>
    <li>Вибрати жанр / автора</li>
    <li>Вибрати книгу</li>
    <li>Вибрати сторінку</li>
    <li>Рядок</li>
    <li>Бажання</li>
    <li>Результат</li>
    <li>Передати пас</li>
    <li>Далі буде...</li>
</ol>

<p>{{result}}</p>

