<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Користувач</h1>
</div>
<!-- Show user data when logged in -->
<div class="row" *ngIf="authService.userData as user; else notLoggedIn">
  <div class="col-md-12">
    <div class="media">
      <img class="img-thumbnail"
        src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
      <div class="media-body">
        <h1>{{user.displayName || 'Username'}}</h1>
        <p>Email: {{user.email}}</p>
        <p>Email Verified: {{user.emailVerified}}</p>
        <p><a href="#" (click)="authService.signOut()">Log Out</a></p>
      </div>
    </div>
  </div>
</div>
<ng-template #notLoggedIn>
  <a routerLink="/auth/sign-in">Зайдіть</a> у систему, щоб переглянути дані користувача.
</ng-template>