<h1 class="h2">Мій профіль</h1>
<!-- Show user data when logged in -->
<div *ngIf="authService.userData as user; else notLoggedIn">
  <img class="img-thumbnail"
    src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
  <div class="media-body">
    <h2>{{user.displayName || 'Юзернейм'}}</h2>
    <p>Email: {{user.email}} ({{user.emailVerified ? 'перевірений' : 'не перевірений'}})</p>
    <p><a href="#" (click)="authService.signOut()">Вийти</a></p>
  </div>
</div>
<ng-template #notLoggedIn>
  <a routerLink="/auth/sign-in">Зайдіть</a> у систему, щоб переглянути дані користувача.
</ng-template>