.app-footer div,
.app-footer a {
    font-weight: normal;
    font-size: 13px;
}

.app-footer a {
    color: #ffffff;
}

.logo img {
    margin-top: 12px;
    width: 40px;
    border-radius: 30px;
}

.footer-copyright div,
.footer-copyright a {
    text-align: right;
    line-height: 1.3;
    font-size: 11px;
}

.mat-toolbar * {
    flex: 1 1 auto;
}

.mat-toolbar .logo {
    width: 50px;
    flex: none;
}

mat-icon {
    width: 12px;
    height: 12px;
    font-size: 12px;
}