@use 'uif-palette' as uifp;
@use '@angular/material' as mat;
@include mat.core();

$uif-primary: mat.define-palette(uifp.$md-uifblue);
$uif-accent: mat.define-palette(uifp.$md-uiflightblue);
$uif-warn: mat.define-palette(uifp.$md-uifyellow);

$uif-theme: mat.define-light-theme((color: (
        primary: $uif-primary,
        accent: $uif-accent,
        warn: $uif-warn,
      )));

@include mat.all-component-themes($uif-theme);

// Emit theme-dependent styles for common features used across multiple components.
// @include mat.core-theme($uif-theme);

// Emit styles for MatButton based on `$uif-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
// @include mat.button-theme($uif-theme);

// Include the theme mixins for other components you use here.

html,
body {
    height: 100%;
}

body {
  margin: 0;
  line-height: 1.8rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.content-wrap {
  max-width: 1400px;
  margin: auto;
  padding: 4rem;
  
  h1, h2, h3, h4, h5, h6, div, p, li, ol, ul, span, div {
    line-height: 1.8rem;
  }  
}

.content-wrap.is-handset {
  padding: 2rem 40px;
}

div, p {
  font-size: 1rem;
}

/* This will let story content to overwrite attractor */
.story-override-content {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  min-height: 1000px;
  background-color: #ffffff;
}

.story-override-content .story-content {
  padding: 3rem;
}

.story-override-content .story-img {
  background: #31a4ee;
}

.story-override-content .story-img.in-header {
  // position: absolute;
  background-color: #00487f;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -170px;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  text-shadow: #00487f 1px 0 15px;
  font-size: 60px;
}