@use 'uif-palette' as uifp;
@use '@angular/material' as mat;
@include mat.core();

$uif-primary: mat.define-palette(uifp.$md-uifblue);
$uif-accent: mat.define-palette(uifp.$md-uiflightblue);
$uif-warn: mat.define-palette(uifp.$md-uifyellow);

$uif-theme: mat.define-light-theme((color: (
        primary: $uif-primary,
        accent: $uif-accent,
        warn: $uif-warn,
      )));

@include mat.all-component-themes($uif-theme);

// Emit theme-dependent styles for common features used across multiple components.
// @include mat.core-theme($uif-theme);

// Emit styles for MatButton based on `$uif-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
// @include mat.button-theme($uif-theme);

// Include the theme mixins for other components you use here.

html,
body {
    height: 100%;
}

body {
  margin: 0;
  line-height: 1.8rem;
  // font-family: Georgia, "Times New Roman", Times, serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.content-wrap {
  max-width: 1400px;
  margin: auto;
  padding: 6em 4em;
  
  h1, h2, h3, h4, h5, h6, div, p, li, ol, ul, span, div {
    line-height: 1.8rem;
    // font-family: Georgia, "Times New Roman", Times, serif !important;
  }  
}

div, p {
  font-size: 1rem;
}
