<h1>Новини</h1>
<p>Технічні та організаційні оновлення нашого проєкту.</p>

<!-- TODO: Якщо щось неясно — задайте питання у формі нижче. -->

<h2>Оновлення проєкту</h2>

<ul>
  <li>
    5.10.2022 - В тестовому режимі відкрився розділ <a href="https://ukrainiansinfact.org.ua/stories">Особистих історій</a> фактичних українців.
  </li>
  <li>
    28.09.2022 - Початок роботи над сайтом <a href="https://ukrainiansinfact.org.ua/">UkrainiansInFact.org.ua</a>.
    Створено <a href="https://github.com/rostag/UkrainiansInFact">репозиторій на GitHub</a>.
  </li>
</ul>

<h2>Передісторія</h2>
<p>Ключові події та новини, що штовхнули нас до проєкту.</p>
<ul>
  <a href="" target="_blank"></a>
  <li>
    <a href="https://life.pravda.com.ua/society/2022/05/30/248879/" target="_blank">30.05.2022</a> - Новини: Українських
    дітей-сиріт будуть приймати у громадянство Росії за спрощеною процедурою: новий указ агресора Путіна
  </li>
  <li>
    <a href="https://www.facebook.com/mosnaya.mariya/posts/pfbid0DpjLbJC4qUKUSirMy2JRHsLhqcauDAXENF2Wt7WHDXxA4S7q5VVqzFrnMbcnCFKpl"
      target="_blank">08.06.2022</a> - Марія: "Вже 2 роки не маю відповіді щодо набуття громадянства" - посиланням на
    пост Кіри Джафарової, що живе в Ха вже 32 роки і має проблеми з гр-м.
  </li>
  <li><a
      href="https://www.facebook.com/komonaut/posts/pfbid0LJdcCszLHZDjCZnpYBEoiLBDs74YimE5VwkwtNpPSmthQv5cr6d1835w7br7LhVLl"
      target="_blank">08.06.2022</a> - Олесь Штефчук: Згадка про родину Оліфер / Губанових, що мають ту ж проблему (при
    тому — вони або на фронті, або волонтерять). У коментарях — ще історії й дискусія зі Світланою Мормель про ризики.
    Цікаві аргументи.</li>
  <li><a
      href="https://www.facebook.com/mosnaya.mariya/posts/pfbid0GysnzQXDYwnhhjtywUE4aWK4gF5YAUrupBNxhL82FzHkRdbmkUH4ypgj5Etasb4rl"
      target="_blank">15.03.2022</a> - Марія Мосна: "Відмовляюсь від громадянства РФ".
    <br />
    <br />
    Це стало першим поштовхом для нас
    почати проєкт.
    <br />
    <br />Читайте історію Марії в <a [routerLink]="['/stories']">Особистих історіях</a>.
  </li>

</ul>
