<h1>Наша мета</h1>
<div class="">
    <p class="text">Примножувати українство як ідею невпинного руху до гідності, волі та людяності.</p>
    <p class="text">Зараз ми привертаємо увагу Президента до українців, які фактично є громадянами, але мають проблеми з документальним підтвердженням свого фактичного громадянства. Тому ми закликаємо підписати Петицію до Президента: <a class="link"
            href="https://petition.president.gov.ua/petition/157298" target="_blank">https://petition.president.gov.ua/petition/157298</a> і поширити її.</p>

    <p class="text">Ми детально пояснюємо свою позицію у <a class="link"
            href="https://www.google.com/url?q=https%3A%2F%2Fwww.facebook.com%2FUkrainiansInFact%2Fposts%2Fpfbid02oND1yaDKrMwgKmiv9qQehzwLhrfiePPp9PVrjTHzhLmEFvKWbPXqsFCze5s5aLpil&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw0pE5VUhIrpWHAJ7ykyarzp"
            target="_blank">цьому дописі на Faceboook</a>.
    </p>
</div>