<h1>Наша мета</h1>
<div class="">
    <p class="text">Примножувати українство як ідею невпинного руху до гідності, волі та людяності.</p>
    <p class="text">Зараз ми привертаємо увагу Президента до українців, які фактично є громадянами, але мають проблеми з документальним підтвердженням свого фактичного громадянства. Тому ми закликаємо <a class="link"
            href="https://petition.president.gov.ua/petition/157298" target="_blank">підписати Петицію до Президента</a> і поширити її. Ми детально пояснюємо свою позицію у <a class="link"
            href="https://www.facebook.com/UkrainiansInFact/posts/pfbid02oND1yaDKrMwgKmiv9qQehzwLhrfiePPp9PVrjTHzhLmEFvKWbPXqsFCze5s5aLpil"
            target="_blank">цьому дописі на Faceboook</a>. Процитуємо його тут:
    </p>

    <div>
        <h2>Контраверсійна петиція №157298. Підписувати, чи ні?</h2>

        <h3>Чому варто підписати петицію?</h3>
        <h4>Це наші</h4>
        В документі йдеться про фактичних громадян України. Тих, що роками проживають в українських родинах, сплачують податки, виховують дітей, беруть участь у громадському житті.
        
        <h4>Профілактика злочинності</h4>
        Надання громадянства в даному випадку гарантує державний контроль. Без цього люди знаходяться у нелегальному стані, що, очевидно сприяє беззаконню. Наприклад, корупції від влади, шахрайству в колі напівгромадян, торгівлі людьми з боку злочинних угрупувань.
        
        <h4>Захист дітей</h4>
        В більшості випадків йдеться про людей, що є батьками неповнолітніх. Це діти, що народились та виросли в Україні. В разі ненадання громадянства їм доведеться, або лишати дітей напівсиротами, або вивозити їх в рф (?!).
        
        <h4>Воїни, активісти, волонтери</h4>
        Багато з цих людей захищає нашу країну зі зброєю в руках, воює на інформаційному фронті чи допомагає країні в інший спосіб. Депортація в даному випадку є втратою цінного ресурсу для України і 100-відсотковою в’язницею для цих людей.
        
        <h3>Що не так з петицією?</h3>
        <h4>Неймінг</h4>
        Від словосполучення «з російським громадянством» справедливо тіпає будь-якого українці. Ще один різновид хороших рузьких? Може досить?!
        
        <h4>Скарги на державу</h4>
        Більшість історій пов’язані з тим, як люди роками нібито намагались легалізуватись і як бюрократія їм перешкоджала. Втім паралельно існують історії про те, як таким саме громадянам рф це вдалось. Виникає питання: чи дійсно ці люди старались, чи кинулись, коли відчули смажене? А також: це мнтально-совкове «мнє всє должни»?
        
        <h4>Какая разніца\чєлюсть</h4>
        Використання російської мови у зверненні та обговоренні. Виникає питання, чому люди не вивчили мову, чи не вважають за потрібне нею користуватися? Володіння мовою є обов’язковою умовою будь-якого громадянства. Але українське і так мають дати? Чому?
        
        <h4>Відверта вата</h4>
        Навіщо збільшувати відсоток тих, хто голосуватиме за нові «регіони» чи «шмарія»?
        
        <h3>Що робити?</h3>
        <a class="link" href="https://petition.president.gov.ua/petition/157298" target="_blank">Підписати Петицію для того, щоб вона стала публічною</a>, а реальний закон був відповідний сучасним потребам.

    </div>
</div>