<h1>Наша мета</h1>
<div class="">
    <p class="text">Примножувати українство як ідею невпинного руху до гідності, волі та людяності.</p>
    <p class="text">Зараз ми привертаємо увагу Президента до українців, які фактично є громадянами, але мають проблеми з документальним підтвердженням свого фактичного громадянства. Тому ми закликаємо <a class="link"
            href="https://petition.president.gov.ua/petition/157298" target="_blank">підписати Петицію до Президента</a> і поширити її. Ми детально пояснюємо свою позицію у <a class="link"
            href="https://www.facebook.com/UkrainiansInFact/posts/pfbid02oND1yaDKrMwgKmiv9qQehzwLhrfiePPp9PVrjTHzhLmEFvKWbPXqsFCze5s5aLpil"
            target="_blank">цьому дописі на Faceboook</a>. Процитуємо його тут:
    </p>

    <div>
        <h2>Контраверсійна петиція №157298. Підписувати, чи ні?</h2>

        <h3>Чому варто підписати петицію?</h3>
        <h4>Це наші</h4>
        <p>В документі йдеться про фактичних громадян України. Тих, що роками проживають в українських родинах, сплачують податки, виховують дітей, беруть участь у громадському житті.</p>
        
        <h4>Профілактика злочинності</h4>
        <p>Надання громадянства в даному випадку гарантує державний контроль. Без цього люди знаходяться у нелегальному стані, що, очевидно сприяє беззаконню. Наприклад, корупції від влади, шахрайству в колі напівгромадян, торгівлі людьми з боку злочинних угрупувань.</p>
        
        <h4>Захист дітей</h4>
        <p>В більшості випадків йдеться про людей, що є батьками неповнолітніх. Це діти, що народились та виросли в Україні. В разі ненадання громадянства їм доведеться, або лишати дітей напівсиротами, або вивозити їх в рф (?!).</p>
        
        <h4>Воїни, активісти, волонтери</h4>
        <p>Багато з цих людей захищає нашу країну зі зброєю в руках, воює на інформаційному фронті чи допомагає країні в інший спосіб. Депортація в даному випадку є втратою цінного ресурсу для України і 100-відсотковою в’язницею для цих людей.</p>
        
        <h3>Що робити?</h3>
        <a class="link" href="https://petition.president.gov.ua/petition/157298" target="_blank">Підписати Петицію для того, щоб вона стала публічною</a>, а реальний закон був відповідним до сучасних потреб.

    </div>
</div>