<h1>Наступні кроки</h1>
<h2>Опитування фактичних українців</h2>
<p>Одна з наших задач – розробка процедури перевірки на українство. В якості першого кроку ми створили <a href="https://forms.gle/YY4RdP6fCrW1UFxC6" target="_blank" rel="noopener noreferrer">форму</a>, відповіді на запитання котрої показують, як опитуваний сприймає
  наші ключові світоглядні концепції. Пропонуємо <a href="https://forms.gle/YY4RdP6fCrW1UFxC6" target="_blank" rel="noopener noreferrer">заповнити цю форму усім громадянам</a> – як юридичним, так і фактичним.</p>
  <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfD92OTdlgtQrVcSX61gg2d8mbHl4XzH-Lp6W9OxP8op4whIQ/viewform?embedded=true" width="350" height="1526" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->

<h2>Особисті історії</h2>
<p>Ми розміщуємо на сайті <a [routerLink]="['/stories']">особисті історії</a> фактичних українців та
  українок. Можна додати і свою історію.</p>

<h2>Інші задачі</h2>
<p>Ми записуємо головні <a [routerLink]="['/tasks']">технічні та організаційні задачі на цьому ж сайті</a>. Сторінка тільки для авторизованих користувачів.</p>

<h2>Долучитися до проєкту</h2>
<p>Якщо ви – розробник, маєте досвід з Firebase чи Angular, то запрошуємо Вас до нашого <a href="https://github.com/rostag/UkrainiansInFact">GitHub</a>.

<h2>Підписати і поширити Петицію №157298</h2>
<p>Якщо ви дочитали до цього місця, і ще не підписали Петицію, якою ми просимо увести спеціальну процедуру для отримання дозволу на імміграцію, посвідку на проживання або громадянство України, то просимо Вас <a
    href="https://petition.president.gov.ua/petition/157298">зробити це</a>.</p>
