<h3>Реєстрація</h3>
<div class="form-fields">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Email</mat-label>
    <input matInput type="email" #userEmail required />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Пароль</mat-label>
    <input matInput type="password" #userPwd required />
  </mat-form-field>
</div>
<div>
  <button mat-stroked-button color="primary"
    (click)="authService.signUp(userEmail.value, userPwd.value)">Зареєструватися</button>
  <div class="or">або</div>
  <button mat-stroked-button color="primary" (click)="authService.googleAuth()">
    Продовжити через Google
  </button>
</div>
<div class="login">
  <span>Вже є акаунт? <a routerLink="/auth/sign-in">Увійти</a></span>
</div>