      <div class="authBlock">
        <h3>Дякуємо за реєстрацію</h3>
        <div *ngIf="authService.userData as user">
          <p>На адресу <strong>{{user.email}}</strong> надіслано листа для підтвердження реєстрації.</p>
          <p>Перевірте свою пошту і натисніть на посилання для для підтвердження вашої пошти.</p>
        </div>
        
        <!-- Calling sendVerificationMail() method using authService Api -->
        <div>
          <button mat-stroked-button colors="primary" (click)="authService.sendVerificationMail()">
            Надіслати Email для підтвердження реєстрації
          </button>
        </div>
      </div>
      <div class="login">
        <a class="redirect" routerLink="/auth/sign-in">Вхід</a>
      </div>