<h2>Особи</h2>
<div class="user-row header">
    <span class="cell displayName">Ім'я</span>
    <span class="cell email">Email</span>
    <span class="cell uid">uid</span>
    <span class="cell action">Дозволи</span>
</div>
<div class="user-row" *ngFor="let user of allUsers | async">
    <span class="cell displayName" (click)="navigateToUser(user)">{{user.displayName}}</span>
    <span class="cell email">{{user.email}}</span>
    <span class="cell uid">{{user.uid}}</span>
    <span><button mat-button class="cell action" (click)="showUser(user)">Показати</button>
        <div *ngIf="auth.userHasClaims(user)" class="roles role">
            <span class="role">Це задає ролі в системі!</span>
            <span class="role" *ngFor="let role of user?.parsedClaims">
                <mat-checkbox color="warn" (ngModelChange)="enableRoleForUser($event, user, role)" [ngModel]="role.enabled">{{role.displayName}}</mat-checkbox>
            </span>
        </div>
    </span>
</div>
