:host {
    display: block;
}

.user-row {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    font-size: .7rem;
}

.displayName {
    width: 10rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.email {
    width: 12rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.uid {
    width: 6rem;
    color: #777;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.makeAdmin {
    font-size: .7rem;
}
