:host {
    display: block;
}

.cell {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.user-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: flex-start;
    font-size: .7rem;
}

.displayName {
    width: 10rem;
    cursor: pointer;
}

.email {
    width: 12rem;
}

.uid {
    width: 2rem;
    color: #777;
}

.action {
    font-size: .7rem;
    font-weight: 500;
}

.action {
    padding: 0 16px;
}

.claim {
    display: inline-block;
}

.header {
    font-weight: bold;
}

.roles {
    background-color: darkorange;
    margin-left: 16px;
    padding-left: 16px;
    border-radius: 1rem;
}

.role {
    font-size: .7rem;
    margin-right: 1rem;
}