<h1>Мова серпанку, або Haze Speech</h1>

<p>"Східний край неба вже побілів і пойнявся рожевим серпанком, що вкрив чорні пакети з громадянами рф, тепер – найкращими у світі."</p>

<p>Гра серпанку, або хейз спіч, – це гра з вивчення та популяризації маловідомих або рідковживаних слів української мови з одночасним підняттям морального рівня гравців.</p>

<h2>Правила гри</h2>

<ol>
<li>Взяти слово зі списку</li>
<li>Знайти його визначенння та яскраву цитату з ним в українській літературі.</li>
<li>Дописати цитату так, щоб вона стала мотивуючим чи розважальним текстом.</li>
<li>Опублікувати результат та поширити його.</li>
</ol>

<h2>Приклад</h2>

<p>1. Cлово "серпанок". Я роками читав тексти й не знав, що це, і ось знаю – це слово в творах, що дійшли до нас, як правило означає тонку тканинну, або ж вуаль туману над землею.</p>

Знаходимо <a href="https://www.facebook.com/slovopys/photos/%D1%81%D0%B5%D1%80%D0%BF%D0%B0%CC%81%D0%BD%D0%BE%D0%BA-%D1%87%D0%BE%D0%BB-%D1%81%D0%BB%D0%BE%D0%B2%D0%BE%D0%BF%D0%B8%D1%81-%D1%83%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%81%D1%8C%D0%BA%D0%B0%D0%BC%D0%BE%D0%B2%D0%B0-%D0%B0%D1%81%D1%82%D1%83%D0%B4%D1%96%D1%8F-grinchenko1-%D1%80%D0%BE%D0%B4-%D0%BD%D0%BA%D1%83-%D0%BB%D0%B5%D0%B3%D0%BA%D0%B0-%D0%BF%D1%80%D0%BE%D0%B7%D0%BE%D1%80%D0%B0-/1654295244798714/">визначення й цитати серпанку</a>, наприклад, у Словотворі, СУМі чи <a href="http://ukrlit.org/slovnyk/%D1%81%D0%B5%D1%80%D0%BF%D0%B0%D0%BD%D0%BE%D0%BA">УкрЛіті</a>.

<p>2. З того берем таку цитату: "Східний край неба вже побілів і пойнявся рожевим серпанком (Михайло Старицький, Облога.., 1961, 42);"</p>

<p>3. Додаємо до цитати мотивуючий текст, або хейз спіч: "Східний край неба вже побілів і пойнявся рожевим серпанком, що вкрив чорні пакети з громадянами рф, тепер – найкращими у світі."</p>

<p>4. Публікуємо результат на цьому сайті, на сторінці Haza Speech та поширюємо його його.</p>

<p>5. Записуємо відео для тік-току, публікуємо його з тегами #серпанок #hazespeech</p>

<p>Все буде мова!</p>

Джерела слів:

1. Слова, які ви з дитинства чули, але не знали їх значення – то найкраще.
2. Ваші улюблені слова
3. Різні словники чи присвячені словам сторінки:

Можливі слова: 

Крислатий
Пелехатий



http://sum.in.ua/s/pelekhatyj
http://ukrlit.org/slovnyk/
https://www.facebook.com/slovopys/
http://lang.slovopedia.org.ua/11/53407/177928.html