<ng-container [ngSwitch]="displayMode">
    <ng-container *ngSwitchCase="'storyTitle'" [ngTemplateOutlet]="storyTitle"></ng-container>
    <ng-container *ngSwitchCase="'storySingle'" [ngTemplateOutlet]="storySingle"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="storyList"></ng-container>
</ng-container>

<ng-template #storyTitle>
    <div class="story-single-wrap story-title-wrap" *ngIf="!!story; else loading">
        <div class="flex-row">
            <h2 (click)="toggleStory(story)">{{ story.title }}</h2>
            <button mat-button color="accent" (click)="storyService.editStory(story)" *ngIf="authService.userIsAllowedTo('write', 'story')">Змінити</button>
        </div>
        <div *ngIf="story.isExpanded">
            <div *ngIf="!story.isPublished; else notPublished">
                <div class="text" [innerHtml]="story.text | safeHtml"></div>
                <div class="story-single-image-wrap"><img class="story-image" [src]="story.image" /></div>
                <div class="story-social-refs">
                    <span>Cторінки в соцмережах: </span>
                    <span *ngIf="story.facebookProfile">Facebook: <a [href]="'https://www.facebook.com/' + story.facebookProfile">{{ story.facebookProfile }}</a> </span>
                    <span *ngIf="story.instagramProfile"> Instagram: <a [href]="'https://www.instagram.com/' + story.instagramProfile">{{ story.instagramProfile }}</a></span>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #storySingle>
    <div class="story-single-wrap" *ngIf="!!story; else loading">
        <div class="flex-row">
            <h2>{{ story.title }}</h2>
            <button mat-button color="accent" (click)="storyService.editStory(story)" *ngIf="authService.userIsAllowedTo('write', 'story')">Змінити</button>
        </div>
        <div *ngIf="!story.isPublished; else notPublished">
            <div class="text" [innerHtml]="story.text | safeHtml"></div>
            <div class="story-single-image-wrap"><img class="story-image" [src]="story.image" /></div>
            <div class="story-social-refs">
                <span>Cторінки в соцмережах: </span>
                <span *ngIf="story.facebookProfile">Facebook: <a [href]="'https://www.facebook.com/' + story.facebookProfile">{{ story.facebookProfile }}</a> </span>
                <span *ngIf="story.instagramProfile"> Instagram: <a [href]="'https://www.instagram.com/' + story.instagramProfile">{{ story.instagramProfile }}</a></span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #storyList>
    <div class="story-list-wrap" *ngIf="!!story; else loading">
        <div class="flex">
            <div>
                <h2>{{story.title}}</h2>
                <div class="story-social-refs">
                    <span *ngIf="story.facebookProfile">Facebook: <a [href]="'https://www.facebook.com/' + story.facebookProfile">{{ story.facebookProfile }}</a> </span>
                    <span *ngIf="story.instagramProfile"> Instagram: <a [href]="'https://www.instagram.com/' + story.instagramProfile">{{ story.instagramProfile }}</a></span>
                </div>
            </div>
            <button mat-button color="accent" (click)="storyService.editStory(story)" *ngIf="authService.userIsAllowedTo('write', 'story')">Змінити</button>
        </div>
        <div *ngIf="!story.isPublished; else notPublished">
            <div class="text" [innerHtml]="story.text | safeHtml"></div>
            <div class="story-image-wrap"><img class="story-image" [src]="story.image" /></div>
        </div>
    </div>
</ng-template>

<ng-template #notPublished>
    Ця історія ще не опублікована
</ng-template>

<ng-template #loading>
    Завантажуємо...
</ng-template>

<!-- <ng-template #editButton>
    <button mat-button color="accent" (click)="storyService.editStory(story)" *ngIf="authService.userIsAllowedTo('write', 'story')">Змінити</button>
</ng-template> -->
