<div class="authBlock">
  <h3>Відновити пароль</h3>
  <p>Будь ласка, вкажіть адресу електронної пошти, щоб отримати запит на скидання пароля.</p>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" #passwordResetEmail required>
    </mat-form-field>
  </div>

</div>
<!-- Calling forgotPassword from AuthService Api -->
<div>
  <button mat-stroked-button (click)="authService.forgotPassword(passwordResetEmail.value)">Скинути пароль</button>
</div>
<div class="login">
  <span>Повернутися до <a class="redirect" routerLink="/auth/sign-in">входу</a></span>
</div>