      <div class="authBlock">
        <h3>Відновити пароль</h3>
        <p>Будь ласка, вкажіть адресу електронної пошти, щоб отримати запит на скидання пароля.</p>
        <div>
          <input matInput type="email" placeholder="email" #passwordResetEmail required>
        </div>
        <!-- Calling forgotPassword from AuthService Api -->
        <div>
          <button mat-stroked-button (click)="authService.forgotPassword(passwordResetEmail.value)">Скинути пароль</button>
        </div>
      </div>
      <div>
        <span>Повернутися до <a class="redirect" routerLink="/auth/sign-in">входу</a></span>
      </div>