:host {
    width: 60vw;
    display: block
}

.img-wrap {
    background-image: url(../../../assets/img/tz2.jpg);
    width: 1240px;
    height: 1240px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.gathered-value {
    font-size: 3rem;
    position: absolute;
    left: 1020px;
    top: 780px;
    width: 8rem;
    text-align: center;
}

.generate-bt {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.download-link {
    font-size: 1.2rem;
}